@import "./colors";

$title-font-size: 2em;
$title-font-weight: 700;

$subtitle-font-size: 1.3em;
$subtitle-font-weight: 500;

@mixin title {
  margin: 0 !important;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  color: $main-blue;
}

@mixin subtitle {
  margin: 0 !important;
  font-size: $subtitle-font-size;
  font-weight: $subtitle-font-weight;
  color: $main-blue;
}

@mixin pink-hover-transition {
  transition: 0.1s all ease-in-out;
  &:hover {
    border: 2px solid $main-pink;
    box-shadow: -5px 5px $main-pink;
  }
}