<nav class='navbar' role='navigation'>
  <div class='navbar-brand'>
    <div class='navbar-item'>
      <p class='has-text-black'>Rails</p>
      <p class='has-text-link'>FAQS</p>
    </div>
  </div>
  <div class='navbar-menu'>
    <div class='navbar-start'>
      <%= link_to 'All Forums', forums_path, class: 'navbar-item' %>
    </div>
    <div class='navbar-end'>
      <p class='navbar-item'>Profile?</p>
    </div>
  </div>
</nav>